.form-container {
  background-color: #9be8d8;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wraper {
  background-color: #fff;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-wraper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-wraper .logo {
  color: #5b5d8b;
  font-weight: bold;
  font-size: 25px;
}

.form-wraper .title {
  color: #5b5d8b;
  font-size: 12px;
}

.form-wraper form input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid rgb(207, 197, 197);
  width: 270px;
  outline-width: 0px;
}

input::placeholder {
  color: rgb(175, 175, 175);
}

.form-wraper form label {
  display: flex;
  align-items: center;
  color: rgb(88, 87, 87);
  font-size: 13px;
}

.form-wraper form button {
  margin-top: 10px;
  background-color: #7b9bee;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  height: 2.5em;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.form-wraper form button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.form-wraper p {
  font-size: 14px;
  color: #5b5d8b;
  margin-top: 10px;
}
